// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome-wall {
  width: 100%;
  height: 570px;
}
.left-wall {
  background-color: #FFE8EF;
}
.right-wall {
  background-color: #C7F9F9;
}
